/****COLORS***
dark green: #293000
orange: #FF4E00
yellow: #EC9F05
white: #ffffff
off-white: #F9F9F9
light grey: #BFBFBF
gray: #919191
dark grey: #1E1E1E
black: #000000
*/

/* im-fell-french-canon-italic - latin */

@font-face {
  font-family: 'IM Fell French Canon';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/im-fell-french-canon-v7-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local('IM FELL French Canon Italic'), local('IM_FELL_French_Canon_Italic'), url('../fonts/im-fell-french-canon-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/im-fell-french-canon-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/im-fell-french-canon-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/im-fell-french-canon-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/im-fell-french-canon-v7-latin-italic.svg#IMFellFrenchCanon') format('svg');
  /* Legacy iOS */
}

/****HEADER FONTS****/

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

.ju-text_heading--italics {
  font-family: 'IM Fell French Canon', serif;
}

/****BODY STUFF****/

body {
  background-color: #F9F9F9;
}

p {
  font-family: 'Lato', sans-serif;
}

.ju-text_body {
  font-family: 'Lato', sans-serif;
}

.ju-text_body--bold {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.ju-text_body--italic {
  font-family: 'IM Fell French Canon', serif;
}

/****FOOTER FONTS****/

.ju-text_footer {
  font-family: 'Lato', sans-serif;
}

.ju-text_footer--bold {
  font-family: 'Montserrat', sans-serif;
}

.ju-text_footer--thin {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.ju-text_footer--italic {
  font-family: 'IM Fell French Canon', serif;
}

/*****OTHER FONTS****/

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: #EC9F05;
  text-decoration: none;
}