.user {
  text-align: left;
}

.no-bullet {
  padding: 0;
  list-style-type: none;
}

.container-profile {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.carousel {
  max-height: 20rem;
  overflow: hidden;
}