{% extends "primary.html" %}
{% block title %}Projects{% endblock %}
{% block content %}

  <div class="ju-hero ju-hero_tertiary ju-hero_tertiary--projects">
    <div class="ju-hero_tertiary-accent-color"></div>
    <div class="ju-hero_tertiary-content">
      <div class="ju-headings">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <h2>
          <span>PRO</span>
        </h2>
        <h2>
          <span>JECTS.</span>
        </h2>
      </div>

      <div class="ju-hero_secondary--accent">
        <span class="ju-text_body--italic">Since 2012</span>
      </div>
      <p class="ju-text_body--bold">
        <span class="ju-hero_secondary--white">The J.C. Ibekaku Hope Project is a charity organization
        </span>
        <span>founded by Barrister Juliet C. Ibekaku and registered under the
          Laws of the Federal Republic of Nigeria.</span>
      </p>
    </div>
  </div>
{% endblock %}