{% extends "primary.html" %}
{% block title %}Values{% endblock %}
{% block content %}
  <main>
    <div class="ju-hero ju-hero_tertiary">
      <div class="ju-hero_tertiary-accent-color"></div>
      <div class="ju-hero_tertiary-content">
        <div class="ju-headings">
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <h2>
            <span>VA</span>
          </h2>
          <h2>
            <span>LUES.</span>
          </h2>
        </div>

        <div class="ju-hero_secondary--accent">
          <span class="ju-text_body--italic">Since 2012</span>
        </div>
        <p class="ju-text_body--bold">
          <span class="ju-hero_secondary--white">The J.C. Ibekaku Hope Project is a charity organization
          </span>
          <span>founded by Barrister Juliet C. Ibekaku and registered under the
            Laws of the Federal Republic of Nigeria.</span>
        </p>
      </div>
    </div>

    <div class="container ju-container">
      <h4 class="ju-subheadings">
        <span>
          <span class="ju-subheadings_accent ju-text_heading--italics">Objectives</span>
        </span>
        <span><span>guide us</span><span class="ju-subheadings_period">.</span></span>
      </h4>
      <p class="ju-paragraph">
        Just so we can scroll. Ambitioni dedisse scripsisse iudicaretur. Cras
        mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu
        vulputate felis rhoncus. Praeterea iter est quasdam res quas ex
        communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti
        sibi concilium totius Galliae in diem certam indicere. Cras mattis
        iudicium purus sit amet fermentum.
      </p>
    </div>

    <div class="ju-image_screenwide--thick ju-infographic">Mandates Infographic</div>

    <div class="container ju-container">
      <h4 class="ju-subheadings">
        <span>
          <span>Our</span>
        </span>
        <span><span class="ju-subheadings_accent ju-text_heading--italics">Founder</span><span class="ju-subheadings_period">.</span></span>
      </h4>
      <p class="ju-paragraph">
        Just so we can scroll. Ambitioni dedisse scripsisse iudicaretur. Cras
        mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu
        vulputate felis rhoncus. Praeterea iter est quasdam res quas ex
        communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti
        sibi concilium totius Galliae in diem certam indicere. Cras mattis
        iudicium purus sit amet fermentum.
      </p>
    </div>
    <div class="ju-image_screenwide--thick ju-infographic"></div>

  </main>
{% endblock %}