{% extends "primary.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
  <main>
    <div class="ju-hero">
      <h1>JCIHP</h1>
    </div>
    <div class="ju-hero ju-hero_secondary">
      <div class="ju-hero_secondary--accent">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <span class="ju-text_body--italic">Since 2012</span>
      </div>
      <p class="ju-text_body--bold">
        <span class="ju-hero_secondary--white">The J.C. Ibekaku Hope Project is a charity organization
        </span>
        <span>founded by Barrister Juliet C. Ibekaku and registered under the
          Laws of the Federal Republic of Nigeria.</span>
      </p>
    </div>

    <div class="ju-image_screenwide--thin">
      <img src="static/images/write.jpg" alt="Writing">
    </div>

    <div class="container ju-container">
      <div class="ju-headings">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <h2>
          <span>FO</span></h2>
        <h2>
          <span>CUS.</span></h2>
      </div>

      <h4 class="ju-subheadings">
        <span>
          <span>Our</span>
          <span class="ju-subheadings_accent ju-text_heading--italics">goal</span>
        </span>
        <span><span>is actually quite simple</span><span class="ju-subheadings_period">.</span></span>
      </h4>

      <p class="ju-paragraph">
        Just so we can scroll. Ambitioni dedisse scripsisse iudicaretur. Cras
        mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu
        vulputate felis rhoncus. Praeterea iter est quasdam res quas ex
        communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti
        sibi concilium totius Galliae in diem certam indicere. Cras mattis
        iudicium purus sit amet fermentum.
      </p>
      <a class="ju-link ju-text_body--italic" href="#">More focus</a>
    </div>
    <!--end of container 1-->

    <div class="ju-image_screenwide--thick ju-infographic"></div>

    <div class="container ju-container">
      <div class="ju-headings">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <h2>
          <span>MAN</span></h2>
        <h2>
          <span>DATES.</span></h2>
      </div>

      <h4 class="ju-subheadings">
        <span>
          <span>Our</span>
          <span class="ju-subheadings_accent ju-text_heading--italics">mission</span>
        </span>
        <span><span>is very clear-cut</span><span class="ju-subheadings_period">.</span></span>
      </h4>

      <p class="ju-paragraph">
        Just so we can scroll. Ambitioni dedisse scripsisse iudicaretur. Cras
        mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu
        vulputate felis rhoncus.
      </p>
      <a class="ju-link ju-text_body--italic" href="#">More focus</a>
    </div>
    <!--end of container 2-->

    <div class="ju-image_screenwide--thick">
      <img src="static/images/write.jpg" alt="Writing">
    </div>

    <div class="ju-image-description">
      <p class="ju-text_body--bold">
        Developing the minds of the future.
      </p>
      <p class="ju-text_body--italic ju-image-description--accent">
        Enugu City - March 2016
      </p>
    </div>

    <div class="ju-content-block">
      <div class="ju-image_screenwide--thin ju-image_screenwide--under">
        <img src="static/images/write.jpg" alt="Writing">
      </div>

      <div class="container ju-container ju-container--overlap">
        <div class="ju-headings">
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <h2>
            <span>PHILAN</span></h2>
          <h2>
            <span>THROPY.</span></h2>
        </div>

        <h4 class="ju-subheadings ju-subheadings--overlap">
          <span>
            <span>We put</span>
            <span class="ju-subheadings_accent ju-text_heading--italics">words</span>
          </span>
          <span><span>to action</span><span class="ju-subheadings_period">.</span></span>
        </h4>

        <p class="ju-paragraph">
          Just so we can scroll. Ambitioni dedisse scripsisse iudicaretur. Cras
          mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu
          vulputate felis rhoncus.
        </p>
        <p class="ju-paragraph">
          Just so we can scroll. Ambitioni dedisse scripsisse iudicaretur. Cras
          mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu
          vulputate felis rhoncus.
        </p>
        <a class="ju-link ju-text_body--italic" href="#">More focus</a>
      </div>
      <!--end of container 3-->
    </div>

  </main>

{% endblock %}